@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">App do Fluxo de Caixa</h1>
    <p>Projeto desenvolvido com ASP.NET Core 8 e Bootstrap 5.3.</p>
</div>
